<body >
    <div *ngIf="show==true;">
        <div id="wrapper" style="width: 390px">
            <div id="menu">
                  <p class="welcome">Chat de partida<b></b></p>
                  <button (click)="mostrar()" style="position:relative; left:55%">x</button>
              </div>
               
              <div id="chatbox" style="width: 80%;" >
                  <div *ngFor="let item of listMsg"> 
                    <p *ngIf="item.side==true;" style="z-index:2; color: rgb(48, 48, 48); background-color: rgb(177, 238, 177); background-size: 100%;">{{item.texto}}</p>
                    <p *ngIf="item.side==false;" style="z-index:2; color: rgb(48, 48, 48); background-color: rgb(216, 216, 216); background-size: 100%;">{{item.texto}}</p>
                    
                </div>
                    
              </div>
                  
                  <input #linea type="text" id="texto" style="position: relative; left: 5%; align-self: center; width: 75%;" />
                  <button (click)="escribir(linea.value)" style="position: relative; left: 5%" >Send</button>

          </div> 
    </div>
</body>

<div *ngIf="show==false;">
    <button (click)="mostrar()" 
    style="font-family: sans-serif, sans-serif; width:200px; height: 8%; position: absolute; z-index: 1; bottom: 5%; left: 0%; font-size: 25px; color: white;
    font-style: arial; font-weight: 600; background-color: black ; border: 12px; border-style: solid; border-color: rgb(185, 185, 185);">
        CHAT
    </button>
</div>