/* CSS Document */
body {
    position: absolute;
    z-index: 1;
    left:-1%;
    bottom:-1%}
  
form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#0000FF;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin:0 auto;
    color: white;
    font-size: large;
    font-weight: 600;
    padding-bottom:25px;
    background:#1a1a1a;
    width:185%;
    border:1px solid #575757; }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:10px;
    background:#fff;
    height:275px;
    width:80%;
    border:1px solid #444444;
    overflow:auto; }
  
#usermsg {
    width:30%;
    border:1px solid #ACD8F0; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }