<div class="row">
    <div class="selector" id="tablesSelector">
        <button id="tablesSelector" (click)="modifyButtonsClasses($event)">TABLES</button>
        
    </div>
    <div class="selector"  id="piecesSelector">
        <button  id="piecesSelector" (click)="modifyButtonsClasses($event)">PIECES</button>
        
    </div>
    <div class="selector"  id="avatarsSelector">
        <button  id="avatarsSelector" (click)="modifyButtonsClasses($event)">AVATARS</button>
        
    </div>
    <div class="coin">
        <p>{{userCoins}}</p>
        <img src="./assets/web/coin.png">
    </div>
</div>

<div class="row">
    <div *ngIf="showTables">
        <div *ngFor="let item of tablesList"  class="column">
            <div class="itemName"> {{item.nombre}}</div>
            <img (click)="selectTable(item.nombre)" src="{{tablePath[item.nombre]}}" alt="{{item.nombre}}"> 
            <p class="itemName" style="background-color: green" *ngIf="item.nombre == selectedTable" >Seleccionado</p>
        </div>
    </div>
    <div *ngIf="showPieces">
        <div *ngFor="let item of piecesList"  class="column">
            <div class="itemName"> {{item.nombre}}</div>
            <img (click)="selectPieces(item.nombre)" src="{{piecesPath[item.nombre]}}" alt="{{item.nombre}}">
            <p class="itemName" style="background-color: green" *ngIf="item.nombre == selectedPieza" >Seleccionado</p>
        </div>
    </div>
    <div *ngIf="showAvatars">
        <div *ngFor="let item of avatarsList"  class="column">
            <div class="itemName"> {{item.nombre}}</div>
            <img (click)="selectAvatar(item.nombre)" src="{{avatarPath[item.nombre]}}" alt="{{item.nombre}}">
            <p class="itemName" style="background-color: green" *ngIf="item.nombre == selectedAvatar" >Seleccionado</p>
        </div>
    </div>
</div>
