<head>
    <style>
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 15%;
  background-color: #3d3d3d;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  font-size:x-large;
  padding: 5% 40%;
  text-decoration: none;
}

li a.active {
  background-color: #7a7a7a;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
    </style>
    </head>

    <body>
<ul style="position: absolute; top: 0%; left: 0%;" >
    <li><a href="home" style="position: absolute; top: 0%;">Home</a></li>
    <li><a href="juego" style="position: absolute; top: 5%;">Juego</a></li>
    <li><a href="login" style="position: absolute; top: 10%;">Login</a></li>
    
  </ul>
</body>
