
    <div class="row">
      <div class="column" style="background-color:#aaa;">
        <h2>PLAY ONLINE</h2>
        <a (click)="ponerTiempoOnline(3)" routerLink="/juego">3 mins</a>
        <a (click)="ponerTiempoOnline(5)" routerLink="/juego">5 mins</a>
        <a (click)="ponerTiempoOnline(10)" routerLink="/juego">10 mins</a>
        <a (click)="ponerTiempoOnline(0)" routerLink="/juego">No time</a>
      </div>
      <div class="column" style="background-color:#bbb;">
        <h2>PLAY AGAINST IA</h2>
        <a (click)="ponerTiempoIA(3)" routerLink="/juego">3 mins</a>
        <a (click)="ponerTiempoIA(5)" routerLink="/juego">5 mins</a>
        <a (click)="ponerTiempoIA(10)" routerLink="/juego">10 mins</a>
        <a (click)="ponerTiempoIA(0)" routerLink="/juego">No time</a>
      </div>
      <div class="column" style="background-color:#ccc;">
        <h2>TOURNAMENTS</h2>
        <a (click)="torneoPublico()"routerLink="/tournaments">CREATE PUBLIC</a>
        <a (click)="torneoPrivado()" routerLink="/tournaments">CREATE PRIVATE</a>
        <a routerLink="/searchTournament">SEARCH</a>
        <div class="example">
          <form [formGroup]="codigoForm" (ngSubmit)="buscarCodigo(codigoForm)">
            <input formControlName="codigo" type="text" placeholder="Join Private Tournament" required>
            <button type="submit"><img class="fa fa-search" style="height: 35px;width: 35px;" src="../../../assets/web/search-icon.png"></button>
          </form>
        </div>
      </div>
    </div>