* {
    box-sizing: border-box;
    width:100%;
    padding:5px;
  }
  
  /* Create three equal columns that floats next to each other */
  .column {
    text-align: center;
    position: relative;
    margin: 2em 0;
    float: left;
    width: 33.33%;
    padding: 20px;
    height: 100%; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .column a {
    text-decoration: none;
    border:white; border-width:5px; border-style:solid;
    color:black;
    margin: 10px 0px 15px 0px;
    display: table;
    border-radius: 20px;
    width: 100%;
    font-size:1.2em;
  }

  .column a:hover{
      background-color: aliceblue;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width:1250px) {
    .column {
      width: 100%;
    }
  }

  