<div style="background-color: black; color: white; 
font-weight: 400;padding: 1%; border-width: 10px; 
border-color: rgb(223, 223, 223); border-style: solid ; position: absolute; right: 16%;  top:{{blancas}}%">
    <div class="sidenav" style="font-size: 200%;">{{minutes}}:{{seconds}}</div>
</div>

<div style="background-color: black; color: white; 
font-weight: 400;padding: 1%; border-width: 10px; 
border-color: rgb(223, 223, 223); border-style: solid ; position: absolute; right: 16%; top:{{negras}}%">
    <div style="font-size:200%;">{{minutes2}}:{{seconds2}}</div>
</div>

