<ng-container *ngIf="!isLogged; else logueado">
    <button (click)="isLogged = true">Iniciar sesion</button>
    <button>Registrarse</button>
    <button (click)="nivel = nivel + 1">Suma nivel</button>
    <div>{{nivel}}</div>
</ng-container>
<ng-template #logueado>
    <button>Ir a administracion</button>
    <button>Ir a mi perfil</button>
    <button (click)="isLogged = false">Cerrar sesion</button>
</ng-template>
<button *ngIf="nivel >= 10">Ir a la zona VIP</button>
<button (mouseover)="desactivado =  !desactivado"  >Titulo</button>
<button [disabled] = "desactivado">Okey dude</button>
<h1>Tu nombre es {{titulo}}</h1>
<input type="text" [(ngModel)]="titulo" (ngModelChange)="log($event)">
