<table class="chess-table">
    <tr>
        <th></th>
        <th>a</th>
        <th>b</th>
        <th>c</th>
        <th>d</th>
        <th>e</th>
        <th>f</th>
        <th>g</th>
        <th>h</th>
    </tr>
    <tr>
        <th>8</th>
        <td class="piece-box white-box"><img id="a8" (click)="reply_click($event)"></td>
        <td class="piece-box black-box"><img id="b8" ></td>
        <td class="piece-box white-box"><img id="c8"></td>
        <td class="piece-box black-box"><img id="d8"></td>
        <td class="piece-box white-box"><img id="e8"></td>
        <td class="piece-box black-box"><img id="f8"></td>
        <td class="piece-box white-box"><img id="g8"></td>
        <td class="piece-box black-box"><img id="h8"></td>
    </tr>
    <tr>
        <th>7</th>
        <td class="piece-box black-box"><img id="a7"></td>
        <td class="piece-box white-box"><img id="b7"></td>
        <td class="piece-box black-box"><img id="c7"></td>
        <td class="piece-box white-box"><img id="d7"></td>
        <td class="piece-box black-box"><img id="e7"></td>
        <td class="piece-box white-box"><img id="f7"></td>
        <td class="piece-box black-box"><img id="g7"></td>
        <td class="piece-box white-box"><img id="h7"></td>
    </tr>
    <tr>
        <th>6</th>
        <td class="piece-box white-box"><img id="a6"></td>
        <td class="piece-box black-box"><img id="b6"></td>
        <td class="piece-box white-box"><img id="c6"></td>
        <td class="piece-box black-box"><img id="d6"></td>
        <td class="piece-box white-box"><img id="e6"></td>
        <td class="piece-box black-box"><img id="f6"></td>
        <td class="piece-box white-box"><img id="g6"></td>
        <td class="piece-box black-box"><img id="h6"></td>
    </tr>
    <tr>
        <th>5</th>
        <td class="piece-box black-box"><img id="a5"></td>
        <td class="piece-box white-box"><img id="b5"></td>
        <td class="piece-box black-box"><img id="c5"></td>
        <td class="piece-box white-box"><img id="d5"></td>
        <td class="piece-box black-box"><img id="e5"></td>
        <td class="piece-box white-box"><img id="f5"></td>
        <td class="piece-box black-box"><img id="g5"></td>
        <td class="piece-box white-box"><img id="h5"></td>
    </tr>
    <tr>
        <th>4</th>
        <td class="piece-box white-box"><img id="a4"></td>
        <td class="piece-box black-box"><img id="b4"></td>
        <td class="piece-box white-box"><img id="c4"></td>
        <td class="piece-box black-box"><img id="d4"></td>
        <td class="piece-box white-box"><img id="e4"></td>
        <td class="piece-box black-box"><img id="f4"></td>
        <td class="piece-box white-box"><img id="g4"></td>
        <td class="piece-box black-box"><img id="h4"></td>
    </tr>
    <tr>
        <th>3</th>
        <td class="piece-box black-box"><img id="a3"></td>
        <td class="piece-box white-box"><img id="b3"></td>
        <td class="piece-box black-box"><img id="c3"></td>
        <td class="piece-box white-box"><img id="d3"></td>
        <td class="piece-box black-box"><img id="e3"></td>
        <td class="piece-box white-box"><img id="f3"></td>
        <td class="piece-box black-box"><img id="g3"></td>
        <td class="piece-box white-box"><img id="h3"></td>
    </tr>
    <tr>
        <th>2</th>
        <td class="piece-box white-box"><img id="a2"></td>
        <td class="piece-box black-box"><img id="b2"></td>
        <td class="piece-box white-box"><img id="c2"></td>
        <td class="piece-box black-box"><img id="d2"></td>
        <td class="piece-box white-box"><img id="e2"></td>
        <td class="piece-box black-box"><img id="f2"></td>
        <td class="piece-box white-box"><img id="g2"></td>
        <td class="piece-box black-box"><img id="h2"></td>
    </tr>
    <tr>
        <th>1</th>
        <td class="piece-box black-box" (click)="reply_click($event)" ><img id="a1"></td>
        <td class="piece-box white-box"><img id="b1"></td>
        <td class="piece-box black-box"><img id="c1"></td>
        <td class="piece-box white-box"><img id="d1"></td>
        <td class="piece-box black-box"><img id="e1"></td>
        <td class="piece-box white-box"><img id="f1"></td>
        <td class="piece-box black-box"><img id="g1"></td>
        <td class="piece-box white-box"><img id="h1"></td>
    </tr>

    
</table>

<div class="chess-message">
    <div class="black-wins check-mate-message fade-in">Black Wins</div>
    <div class="white-wins check-mate-message fade-in">White Wins</div>
</div>