<div class="header" *ngIf="getPrivate"><div *ngIf="players >= 3 && getPropietario"><button (click)="startTournament()">START</button></div>TORNEO PRIVADO<br>DUEÑO: {{getOwner}}<br>CODIGO: '{{codigo}}' </div>
<div class="header" *ngIf="!getPrivate"><div *ngIf="players >= 3 && getPropietario"><button (click)="startTournament()">START</button></div>TORNEO PUBLICO<br>DUEÑO: {{getOwner}}</div>


    <table summary="Tournament Bracket" class="bracket">
        <tr>
            <th>SEMI-FINALS</th>
            <th>FINAL</th>
            <th>TOURNAMENT CHAMPION</th>
        </tr>
        <tr>
            <td><p>{{jugadores[0].nickname}}</p></td>
            <td rowspan="2"><p>{{jugadores[4].nickname}}</p></td>
            <td rowspan="4"><p>{{jugadores[6].nickname}}</p></td>
        </tr>
        <tr>
            <td><p>{{jugadores[1].nickname}}</p></td>
        </tr>
        <tr>
            <td><p>{{jugadores[2].nickname}}</p></td>
            <td rowspan="2"><p>{{jugadores[5].nickname}}</p></td>
        </tr>
        <tr>
            <td><p>{{jugadores[3].nickname}}</p></td>
        </tr>
        </table>

<button *ngIf="getPropietario" (click)="eliminarTorneo()">eliminar torneo</button>