
<app-navigation-bar></app-navigation-bar>
<app-login></app-login>
<app-add-friend></app-add-friend>
<app-friend-list></app-friend-list>
<div class="main" *ngIf="logged">
    <router-outlet></router-outlet>
</div>
<div class="main" *ngIf="!logged">
    <div  style="font-size: 6vh; border:10px solid #575757; border-color: black; position: absolute; top: 20%; left: 25%; background-color: rgb(154, 154, 154); width: 50%; height: 35%; text-align: center;">
        <a  style="font-size: inherit; position: relative; top: 20%; color: whitesmoke;">LOGEATE PARA CONTINUAR</a>
      </div>
</div>


