.main {
    margin-left: 200px; /* Same as the width of the sidenav */
    margin-right: 200px;/* Same as the width of the sidenav */
  }
  
body {
  height: 100%;
  margin: 0;
  z-index: -1;
  background-image:url('../assets/web/wallpaper.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position:absolute;
}