/*
body {
    font-family: "Lato", sans-serif;
  }
  .sidenav img{
      width: 200px;
  }
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 100px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav p {
    border:white; border-width:10px; border-style:outset;
    padding: 6px 6px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    text-align: center;
  }
  
  .sidenav p:hover {
    color: #818181;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
 /* }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

button {
    border:white; border-width:10px; border-style:solid;
    padding: 6px 6px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    text-align: center;
    position:absolute;
    cursor: pointer;
    color:white;
    width:100px;
  }

  .selector1{
    right:100px;
  }

  .selector2{
    right:0px;
  }
*/

body {
  font-family: "Lato", sans-serif;
}


.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 0;
  top: 240px;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 0px;
}

.sidenav a {
  border:white; border-width:10px; border-style:outset;
  padding: 6px 6px 6px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #f1f1f1;
  display: block;
  text-align: center;
}

.sidenav a:hover {
  color: #818181;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.activo {
    background-color: green;
}

.selector button {
  border:black; border-width:5px; border-style:solid;
  padding: 6px 6px 6px 0px;
  /*text-decoration: none;
  font-size: 1em;
  color: black;
  display: block;*/
  text-align: center;
  position:absolute;
  cursor: pointer;
  width:100px;
}

.showing{
  background-color: red;
}

.selector1{
  right:100px;
}

.selector2{
  right:0px;
}

.selector {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 0;
  top: 200px;
  right: 0;
  overflow-x: hidden;
  padding-top: 0px;
}