
body {
    font-family: "Lato", sans-serif;
  }
  .sidenav img{
      width: 200px;
  }
  .sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 100px;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav p {
    border:white; border-width:10px; border-style:outset;
    padding: 6px 6px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    text-align: center;
  }
  
  .sidenav p:hover {
    color: #818181;
  }
  
  .main {
    margin-left: 200px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

button {
    border:white; border-width:10px; border-style:solid;
    padding: 6px 6px 6px 0px;
    text-decoration: none;
    font-size: 25px;
    color: #f1f1f1;
    display: block;
    text-align: center;
    margin-top:200px;
    position:absolute;
    cursor: pointer;
    color:white;
    width:100px;
    z-index: 1;
  }

  .selector1{
    right:100px;
  }

  .selector2{
    right:0px;
  }

