.box{
    height: 100px;
    width: 200px;
    top:100px;
    right:0;
    height: 72px;
    width: 200px;
    position: fixed;
    font-size: 2em;
    background-color: orange;
    color: black;
    border: none;
    padding: 14px  0px;
}

.box form{
    all: unset;
}
.box input{
    padding:10px;
    margin-bottom: 10px;
    margin-left: 10px;
    width:100px;
    display: inline-flex;
    top:200px;
    vertical-align:top;
}


.box button{
    border:none;
    vertical-align: bottom;
    padding:11px;
    background-color: skyblue;
    position:relative;
    width:100%;
    margin-bottom: 10px;
    cursor:pointer;
}

.box button:hover{
    background-color: aqua;
}

.box img{
    margin-left:10px;
    position:relative;
    height:40px;
    width:40px;
    left:0;
}