<div class="header">
    <div class="position">USERNAME</div> 
    <div class="username"></div>
    <div class="points">POINTS</div>
</div>

<div *ngFor="let ranking of rankingList">
    <div class="row user" *ngIf="ranking.Nickname == getUserName">
        <div class="username">{{ranking.Nickname}}</div>
        <div class="points">{{ranking.puntos}}</div>
    </div>
    <div class="row" *ngIf="ranking.Nickname != getUserName">
        <div class="username">{{ranking.Nickname}}</div>
        <div class="points">{{ranking.puntos}}</div>
    </div>
</div>
